$clr-1: hsl(270, 3%, 87%);
$clr-2: hsl(279, 6%, 55%);
$clr-3: hsl(278, 68%, 11%);
$clr-4: hsl(278, 94%, 30%);
$clr-5: hsl(255, 100%, 100%);
$clr-error: hsl(0, 100%, 66%);
$font: 'Space Grotesk', sans-serif;